<div class="container">
  <div class="innerContainer">
    <h1 class="title">Reset Your Password</h1>

    <input
      type="text"
      class="input"
      [ngClass]="{'input-error': errors.userName}"
      placeholder="Username"
      [(ngModel)]="userName"
      (ngModelChange)="errors.userName = false" />

    <input
      type="email"
      class="input"
      [ngClass]="{'input-error': errors.email}"
      placeholder="Email"
      [(ngModel)]="email"
      (ngModelChange)="errors.email = false" />

    <div class="passwordContainer">
      <input
        [type]="secureTextEntry ? 'password' : 'text'"
        class="inputPassword"
        [ngClass]="{'input-error': errors.newPassword}"
        placeholder="New Password"
        [(ngModel)]="newPassword"
        (ngModelChange)="errors.newPassword = false" />
      <button class="eyeIcon" type="button" (click)="secureTextEntry = !secureTextEntry">
        <fa-icon [icon]="secureTextEntry ? faEyeSlash : faEye"></fa-icon>
      </button>
    </div>

    <div class="passwordContainer">
      <input
        [type]="secureTextEntryConfirm ? 'password' : 'text'"
        class="inputPassword"
        [ngClass]="{'input-error': errors.confirmPassword}"
        placeholder="Confirm New Password"
        [(ngModel)]="confirmPassword"
        (ngModelChange)="errors.confirmPassword = false" />
      <button class="eyeIcon" type="button" (click)="secureTextEntryConfirm = !secureTextEntryConfirm">
        <fa-icon [icon]="secureTextEntryConfirm ? faEyeSlash : faEye"></fa-icon>
      </button>
    </div>

    <button class="button" (click)="handlePasswordReset()">Submit</button>
    <button class="backButton" (click)="onBackToLogin()">Back to Login</button>
  </div>
</div>
